mat-card {
  max-width: 500px;
  min-width: 250px;
  margin: auto;
}

mat-card-content {
  padding: 16px;
}

.input-container {
  margin: 8px 0;
}

mat-form-field {
  min-width: 300px;
}

.form-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.person-card-subtitle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  span {
    align-content: center;
  }
}
